pre {
    background:#222;
    border: 2px solid #243D1D;
    border-width:0 10px;
    margin:1em 0px 1.5em;
    margin-left: -10px;
    padding:.8em 1em;
    overflow:hidden;
    line-height:1.3em;
    color: white;
    font-size: 17px;
}

.epigraph{
    line-height:1.3em;
    font-weight: bold;
    background:#f0f0f0;
    margin:10px 10%;
    padding: 1px 20px;
    border-right: solid 4px lavender;
}

.attribution
{
    margin-left:50%;
    font-style: italic; 
    font-weight: 400;
}
 
.pull-quote {
    font-weight: bold;
    background:#f0f0f0;
    margin:  0 2em; 
    padding: 0px 2em 0 0; 
    display: inline-block;
    border-top: solid 4px #E6E6FA;
    border-bottom: solid 0px lavender; 

}

.pull-quote li:not(:last-child) {
    margin-bottom: .5em;
}

.syntax {
    font-weight: bold;    
    background:#f0f0f0;
    margin:  0 2em;  
    padding: 4px; 
    display: inline-block;
    border-left: solid 4px red;
    border-bottom: solid 0px lavender;
    font-family: courier;
}